/* PaymentConnect Button and Fields Styling */
/* PaymentConnect inputStyling */

.pc_page input[type=radio] {
-webkit-appearance: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
-webkit-rtl-ordering: logical;
-webkit-user-select: none;
-webkit-writing-mode: horizontal-tb;
background-color: rgba(0, 0, 0, 0);
background-image: -webkit-linear-gradient(top, rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
border-bottom-color: rgba(0, 0, 0, 0.247059);
border-bottom-left-radius: 100%;
border-bottom-right-radius: 100%;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0.247059);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.247059);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.247059);
border-top-left-radius: 100%;
border-top-right-radius: 100%;
border-top-style: solid;
border-top-width: 1px;
bottom: 3px;
box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
box-sizing: border-box;
color: rgb(68, 68, 68);
cursor: auto;
display: inline-block;
font-family: 'Lucida Grande', sans-serif;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 15px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 1px;
margin-top: 0px;
outline-color: rgb(68, 68, 68);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: start;
text-indent: 0px;
text-shadow: rgb(240, 240, 240) 0px 1px 0px;
text-transform: none;
vertical-align: middle;
width: 15px;
word-spacing: 0px;
writing-mode: lr-tb;
}
.pc_page input[type=radio]:checked::before {
background-color: #666;
border-radius: 100%;
bottom: 3px;
content: '';
display: block;
left: 3px;
position: absolute;
right: 3px;
top: 3px;
}

.pc_page select {
-webkit-appearance: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
-webkit-rtl-ordering: logical;
-webkit-user-select: none;
-webkit-writing-mode: horizontal-tb;
align-items: center;
background-color: rgb(255, 255, 255);
background-image: -webkit-image-set(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAQAAACxSAwfAAAAUklEQVQY02P4z0AMRGZGMaShwCisyhITmb8huMzfEhOxKvuvsGAh208Ik+3ngoX/FbBbClcIUcSAw21QhXxfIIrwKAMpfNsEUYRXGVCEFc6CQwBqq4CCCtU4VgAAAABJRU5ErkJggg==') 1x,     url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAQAAAA/1a6rAAAAQUlEQVR4Xu3MsQnAMBAEMI1+myf9gw0+3ASCenmu+mQn2yGn3S4Mp906DEW3CEPfzTD03QxD380w3OmIUHe9v+u9QwAt93yns5cAAAAASUVORK5CYII=') 2x), -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
background-position: 100% 50%, 100% 50%;
background-repeat: no-repeat, no-repeat;
border-bottom-color: rgba(0, 0, 0, 0.247059);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0.247059);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.247059);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.247059);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
box-sizing: border-box;
color: rgb(68, 68, 68);
cursor: default;
display: inline-block;
font-family: 'Lucida Grande', sans-serif;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 24px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 1px;
margin-top: 0px;
min-height: 24px;
min-width: 48px;
outline-color: rgb(68, 68, 68);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 6px;
padding-right: 20px;
text-align: start;
text-indent: 0px;
text-shadow: rgb(240, 240, 240) 0px 1px 0px;
text-transform: none;
white-space: pre;
word-spacing: 0px;
writing-mode: lr-tb;
}
.pc_page input[type=checkbox] {
-webkit-appearance: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
-webkit-rtl-ordering: logical;
-webkit-user-select: none;
-webkit-writing-mode: horizontal-tb;
background-color: rgba(0, 0, 0, 0);
background-image: -webkit-linear-gradient(top, rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
border-bottom-color: rgba(0, 0, 0, 0.247059);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0.247059);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.247059);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.247059);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
bottom: 2px;
box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
box-sizing: border-box;
color: rgb(68, 68, 68);
cursor: auto;
display: inline-block;
font-family: 'Lucida Grande', sans-serif;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 13px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 1px;
margin-top: 0px;
outline-color: rgb(68, 68, 68);
outline-style: none;
outline-width: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: start;
text-indent: 0px;
text-shadow: rgb(240, 240, 240) 0px 1px 0px;
text-transform: none;
vertical-align: middle;
width: 13px;
word-spacing: 0px;
writing-mode: lr-tb;
}
.pc_page input[type='checkbox']:checked::before {
-webkit-user-select: none;
background-image: -webkit-image-set(url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAQAAAADpb+tAAAAaElEQVR4Xl3PIQoCQQCF4Y8JW42D1bDZ4iVEjDbxFpstYhC7eIVBZHkXFGw734sv/TqDQQ8Xb1udja/I8igeIm7Aygj2IpoKTGZnVRNxAHYi4iPiDlA9xX+aNQDFySziqDN6uSp6y7ofEMwZ05uUZRkAAAAASUVORK5CYII=') 1x, url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAQAAABuvaSwAAAAvElEQVR4XrXPMUrDYBzG4UeRZnAQnFxq3XT3AsVABm8QPIHQIeAJuoqb2s1BcHAIin4HVLqEvx9NQgb5rc/wvn4mNBUbqlKDcezCp6Qexxx7lbapx/CBe6mrHsYrKXQ7hKtIre1nOD/W9eiQiK80inis680JEc+1kien+TEfzom4sJG2aZXxmG9LIqaRerohx6V2J72zl2NY2OTUgxm7MEU25sURfZg4590Zw5iFZ8mXS0ZwN+eaPjyh/8O/H7bzPJ5NOo0AAAAASUVORK5CYII=') 2x);
background-size: 100% 100%;
content: '';
display: block;
height: 100%;
width: 100%;
}
.pc_page input[type=text], .pc_page input[type=password], .pc_page input[type=email] {
-webkit-appearance: none;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
-webkit-writing-mode: horizontal-tb;
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(191, 191, 191);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(191, 191, 191);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(191, 191, 191);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(191, 191, 191);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(68, 68, 68);
cursor: auto;
display: inline-block;
font-family: 'Lucida Grande', sans-serif;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 24px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
min-height: 24px;
outline-color: rgb(68, 68, 68);
outline-style: none;
outline-width: 0px;
padding-bottom: 4px;
padding-left: 3px;
padding-right: 3px;
padding-top: 3px;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
word-spacing: 0px;
writing-mode: lr-tb;
}
.pc_page input[type=submit], .pc_page input[type=button] {

-webkit-appearance: none;
-webkit-box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
-webkit-user-select: none;
-webkit-writing-mode: horizontal-tb;
align-items: flex-start;
background-color: rgb(192, 192, 192);
background-image: -webkit-linear-gradient(top, rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
border-bottom-color: rgba(0, 0, 0, 0.247059);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0.247059);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgba(0, 0, 0, 0.247059);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgba(0, 0, 0, 0.247059);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
box-sizing: border-box;
color: rgb(68, 68, 68);
cursor: default;
display: inline-block;
font-family: 'Lucida Grande', sans-serif;
font-size: 12px;
font-style: normal;
font-variant: normal;
font-weight: normal;
height: 24px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 1px;
margin-top: 0px;
min-height: 24px;
min-width: 48px;
outline-color: rgb(68, 68, 68);
outline-style: none;
outline-width: 0px;
padding-bottom: 3px;
padding-left: 10px;
padding-right: 10px;
padding-top: 2px;
text-align: center;
text-indent: 0px;
text-shadow: rgb(240, 240, 240) 0px 1px 0px;
text-transform: none;
word-spacing: 0px;
writing-mode: lr-tb;
}

.pc_button_container input[type=submit],
.pc_button_container input[type=button] {
   margin-right:5px;
   margin-bottom:5px;
}